.wd-modules,
.wd-modules * {
  border-radius: 0%;
  
  border: none;
  margin: 0px;
  padding: 0px;
}

.wd-modules {
  margin: 5px;
}

.wd-modules > li {
  background-color: lightgray;
  border: 1px solid gray !important;
  border-left: none !important;
}

.wd-modules > li > div {
  padding: 6px;
  border-left: 1px solid gray !important;
}

.wd-modules > li > ul > li {
  padding: 5px;
  border-top: 1px solid gray !important;
  border-left: 2px solid green;
}

.wd-modules > li {
  margin-bottom: 20px;
}

.d-block {
  background-color: black;
}

.d-block > button{
  background-color: black;
  color: white;
}
.d-block > a>span{
  background-color: black;
  color: white;
  text-align:center;

}

.flex-grow-0>ul>button {
  box-sizing: border-box;
  padding-block: 1px;
  padding-inline: 6px;
  border-radius: 1px;
}

.btn-mod{
  background: #f5f5f5 !important; 
    color: #2d3b45 !important;
    border: 1px solid ;
    border-color: #c7cdd1;
    border-radius: 3px;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    padding: 5px;
}



li> a {
  text-decoration: none;
}

.list-icon-left{
  float: left; 
  width: 5%;
  padding-top: 10px;
  text-align: center;
}

.list-icon-left-side{
  float: left; 
  text-align: center;
  padding-left: 10px;
}

.list-content{
  float: left; width: 80%;
  
}

.list-content > a{
  color: black;
}
.list-content-body{
  text-align: left;
  padding-top: 5px;
  width: 80%;
}

.list-content > a{
  text-decoration: none;
  text-align: center;
}

.list-icon-right{
  float: right; width: 20%;
  padding-top: 10px;
  text-align: center;
}

.list-icon-right-side{
  float: right; width: 20%;
  text-align: center;
  padding-right: 5px;
}
.header-nav{
  display: flex;
  align-items: center;
  border-bottom: 1px solid #c7cdd1;
  margin: 0 24px;
  min-height: 4.5rem;
  box-sizing: border-box;
 
  float:left;
}